body, 
html {
    font-family: 'Inter';
}

.reset-game {
    border: 1px solid #198754;
    padding: 6px 12px;
    border-radius: 0.375rem;
    cursor: pointer;
    background-color: #198754;
    color: #ffffff;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

    &:hover {
        background-color: #ffffff;
        color: #198754;
    }
}

@keyframes dance {
    from {
        transform: rotateX(0deg);
    } to {
        transform: rotateX(360deg);
    }
}

.dance-animation {
    animation: dance 1s;
}

.transition {
    border-radius: 50%;
    transition: all 0.6s ease;
}

.transition:hover {
    background: #dee2e6;
}

.img-size {
    width: 64px;
    height: 64px;
}